

.Todomain{

    @apply flex  justify-center  
    
    
    
    lg:ml-[40px]
}


.only_todo_text{

    @apply text-center ml-[25px]
}

.all_mina_todo{

    @apply bg-[#f7f8fc]

    py-[50px]
  

    lg:py-[120px]

  
}

.heading_img img{

    @apply lg:w-[100px] w-[40px]
}


.Todomain .todo_heading h1{

    @apply text-[16px]

    md:text-[48px] 

    font-Volvohk font-bold text-[#222222]
}

.Todomain .todo_heading span{

@apply text-[#fa7436]


}

.Todomain .todo_heading p{

    @apply text-[#666666]

    text-[7px] w-full

    md:text-[18px]   md:w-[482px]

    text-center font-normal font-Poppins

    lg:mt-[24px]    mt-[10px]

    lg:mb-[64px]    mb-[20px]
}


.Todo_card{

    @apply   flex justify-between lg:flex-wrap  lg:gap-[27px]
}

.single_card{

    @apply bg-[url('public/Card1.png')] 
    
    w-[140px]
    
    md:w-[370px]  lg:w-[370px]

    lg:p-[45px]   md:p-[45px]

    p-[20px]

    shadow-[rgba(17,_17,_26,_0.1)_0px_0px_16px]

    rounded-[8px]

    mb-[10px] lg:mb-[0px]


}

.card2{

    @apply bg-[url('public/Card2.png')] 

}



.card3{

    @apply bg-[url('public/Card3.png')] 

}


.single_card img{

    @apply md:w-[48px]
    
    lg:w-[48px]
    
    w-[10px]
}

.single_card h1{

    @apply 
    
    md:text-[24px] 

    lg:text-[24px] 
    
    text-[10px] 

    mt-[10px]

    lg:mt-[48px]

    font-Poppins 

    font-semibold

    text-[#222222]

   
}

.single_card p{

    @apply md:text-[16px]

    text-[12px]  text-[#666666]

    font-Poppins

    font-normal

    mt-[16px]
}




.single_card img{

    @apply md:w-[48px] w-[35px]
}

.single_card h1{

    @apply md:text-[24px] text-[16px] 

    font-Poppins 

    font-semibold

    text-[#222222]

    mt-[48px]
}

.single_card p{

    @apply md:text-[16px]

    text-[12px]  text-[#666666]

    font-Poppins

    font-normal

    mt-[16px]
}
