


.navbar{

    @apply lg:py-[25px] py-[25px] 

    flex  gap-[5px] justify-start
    
    lg:justify-between items-center
}




.navbar .logo img{

    @apply w-[30px]
    
    
    lg:w-[140px] 
}


.nav_ul_li ul{

    @apply flex justify-center items-center
    
    
    gap-[10px] 
    
    
    lg:gap-[32px] 
}

.nav_ul_li ul li a{

    @apply text-[5px]
    
    
    lg:text-[16px] 
    
    font-Poppins font-normal text-[#222222]

     hover:font-semibold transition-all duration-[.4s]
}



.nav_button{

    @apply flex gap-[2px]
    
    
    lg:gap-[15px] 

}



.nav_button .button2{

    @apply 


    lg:w-[150px]

    w-[40px]


    text-[5px]  

    lg:text-[16px] 

    font-Poppins
    font-semibold

    lg:py-[13px]   py-[1px]
    lg:px-[20px]   px-[5px]

    lg:rounded-[5px]  rounded-[2px]

    text-[#ffff]
    hover:text-[#FD8D3A]
    bg-[#FA7436]
    hover:bg-transparent
    shadow-[0px_5px_11px_-4px_#fd903e]
    transition-all
    hover:shadow-none
    duration-[.5s]




}


.nav_button .button1{

    @apply 


    lg:w-[140px]


    text-[5px]
    
    lg:text-[16px] 


    font-Poppins
    font-semibold

    lg:py-[13px]   py-[7px]
    lg:px-[50px]   px-[15px]


    text-[#FD8D3A]
    hover:text-white
    hover:bg-[#FA7436]
    hover:shadow-[0px_5px_11px_-4px_#fd903e]
    transition-all
    duration-[.5s]
    rounded-[5px]

}



